<!--
/views/layout.erb
- used to host common content for ISBN Validator and ISBN Validator Results pages
-->

<!doctype html>
<html lang="en">
  <head>
    <title>Calculator</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <!-- <link rel="icon" href="/images/favicon.ico?" type="image/x-icon">  # added to get favicon to load -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script type="text/javascript" src="jquery.js"></script>
  </head>
  <body>
  <header>
  </header>
  <section>

    <div>
      <div class="row">

        <div class="table">
            <form class="tr" method="post" action="get_num_2">
              <span class="td"><textarea style="resize:none" rows="1" cols="24" id="userInput" name="userInput" readonly></textarea></span>
              <span class="td"><input class="button submit" type="submit" value="="></span>
            </form>
            <div class="row">
              <div class="tr">
                <span class="td"><button class="button input">7</button></span>
                <span class="td"><button class="button input">8</button></span>
                <span class="td"><button class="button input">9</button></span>
                <span class="td"><button class="button input">/</button></span>
              </div>
              <div class="tr">
                <span class="td"><button class="button input">4</button></span>
                <span class="td"><button class="button input">5</button></span>
                <span class="td"><button class="button input">6</button></span>
                <span class="td"><button class="button input">*</button></span>
              </div>
              <div class="tr">
                <span class="td"><button class="button input">1</button></span>
                <span class="td"><button class="button input">2</button></span>
                <span class="td"><button class="button input">3</button></span>
                <span class="td"><button class="button input">-</button></span>
              </div>
              <div class="tr">
                <span class="td"><button class="button input">0</button></span>
                <span class="td"><button class="button dot">.</button></span>
                <span class="td"><button class="button sign">±</button></span>
                <span class="td"><button class="button input">+</button></span>
              </div>
              <div class="tr">
                <span class="td"><button class="button clear">C</button></span>
            </div>
        </div>

      </div>
    </div>

  </section>
  </body>
</html>