<!--
/views/layout.erb
- used to host common content for ISBN Validator and ISBN Validator Results pages
-->

<!doctype html>
<html lang="en">
  <head>
    <title>Calculator</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <!-- <link rel="icon" href="/images/favicon.ico?" type="image/x-icon">  # added to get favicon to load -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script type="text/javascript" src="jquery.js"></script>
  </head>
  <body>
  <header>
    <h1>Calculator</h1>
  </header>
  <section>

    <div>
      <div class="row">

        <div class="row">
          <textarea id="txt-area" readonly></textarea>
        </div>

        <div class="row">
          <table>
            <tr>
              <td><button class="buttons">7</button></td>
              <td><button class="buttons">8</button></td>
              <td><button class="buttons">9</button></td>
              <td><form method="post" action="submit_num_1">
                <input type="text" name="user_input" hidden>
                <input type="submit" value="/"></td>
              </form>
            </tr>
            <tr>
              <td><button class="buttons">4</button></td>
              <td><button class="buttons">5</button></td>
              <td><button class="buttons">6</button></td>
              <td><form method="post" action="submit_num_1">
                <input type="text" name="user_input" hidden>
                <input type="submit" value="*"></td>
              </form>
            </tr>
            <tr>
              <td><button class="buttons">1</button></td>
              <td><button class="buttons">2</button></td>
              <td><button class="buttons">3</button></td>
              <td><form method="post" action="submit_num_1">
                <input type="text" name="user_input" hidden>
                <input type="submit" value="-">
              </form></td>
            </tr>
            <tr>
              <td><button class="buttons">0</button></td>
              <td><form method="post" action="submit_num_1">
                <input type="text" name="user_input" hidden>
                <input type="submit" value="+">
              </form></td>
            </tr>
            <tr>
              <td><form method="post" action="calculate_result">
                <input type="text" name="num_2" hidden>
                <input type="submit" value="=">
              </form></td>
            </tr>
          </table>
        </div>

      </div>
    </div>

  </section>
  </body>
</html>