/*
/public/styles.css
- CSS styles for Calculator app
*/

body {
  background-color: #eee9e9;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

textarea {
  font-size: 20px;
  text-align: right;
}

h1 {
  text-align: center;
/*  margin-left: 3%;*/
  font-size: 36px;
  color: #808080;
}

h3 {
  text-align: center;
  font-style: italic;
}

h4 {
  color: #808080;
  /*margin-left: 8%;*/
}

a {
  color: #808080;
}

DIV.table {
  display: table;
}

FORM.tr, DIV.tr {
  display: table-row;
}

SPAN.td {
  display: table-cell;
}

.button {
    background-color: #C0C0C0;
/*    border: none;*/
    padding: 10px;
    margin: 5px;
    width: 50px;
/*    border-radius: 8px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px #999999;
    outline: none;
}

.button:hover {
  background-color: #808080;
}

.button:active {
  background-color: #808080;
  box-shadow: 0 2px #666666;
  transform: translateY(2px);
}

.equals {
    background-color: #C0C0C0;
/*    border: none;*/
/*    margin-top: 5px;*/
    margin-bottom: 10px;
    padding: 10px;
/*    margin: 50px;*/
/*    margin: 0 auto;*/
    width: 245px;
/*    border-radius: 8px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px #999999;
    outline: none;
}

.equals:hover {
  background-color: #808080;
}

.equals:active {
  background-color: #808080;
  box-shadow: 0 2px #666666;
  transform: translateY(2px);
}

/*.submit {
  position: relative;
  bottom: -305px;  # -305px - save for tweaking
  left: -91px;  # -91px - save for tweaking
}*/

.calculator {
  width: 338px;  /* calculator width = 338px */
  margin: 0 auto;
  border-width: 5px;
}

.keys {
  margin: 0 auto;
  display: table;
  border-spacing: 5px;
}

.padding {
  padding: 10px;
}

.centered {
  text-align: center;
}

.center-block {
  display: block;
  width: 388px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.border {
  border-color: #808080;
  border-width: 3px;
  border-style: solid;
  border-radius: 80px / 100px;
  background-color: #C0C0C0;
  margin-left: 4%;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
  padding: 10px;
}

